{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edition d'Articles{% endblock %}

{% block body %}
        <div class = "jumbotron">
            </br>
            </br>
            </br>
            </br>
            <h3 style="text-align:left"> {{ article.titre }} </h3>
        </div>
<div class="container">

</br>
</br>
    {{ include('administrator/articles/_form.html.twig', {button: 'Editer'} ) }}

   {# <a href="{{ path('articles_index') }}">back to list</a>#}

   {{ include('administrator/articles/_delete_form.html.twig') }}
</div>
{% endblock %}
