{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
        <div class = "jumbotron">
            </br>
            </br>
            </br>
            </br>
            <h3 style="text-align:left"> Articles / Enregistrement </h3>
        </div>


    {{ include('articles/_form.html.twig') }}

    <a href="{{ path('articles_index') }}">back to list</a>
{% endblock %}
