<!DOCTYPE html>
<html>
	<head>
 		{% block head %}
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

			<title>
				{% block title %}Anawin {% endblock %}
			</title>

			<link rel="shortcut icon" href="assets/images/gt_favicon.ng">
				{% block stylesheets %} 

				{% endblock %}
					<link rel="stylesheet"  href="{{ asset('css/main.css') }}"> 
					<link rel="stylesheet"  href="{{ asset('assets/css/bootstrap.min.css') }}"> 
					<link rel="stylesheet"  href="{{ asset('assets/css/bootstrap-theme.css') }}"> 
					<link rel="stylesheet"  href="{{ asset('assets/css/font-awesome.min.css') }}"> 
			
			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.min.js"></script>
			<![endif]-->
		{% endblock %}
	</head>

<body class="home">

{% include("menus/users_menu.html.twig")%}

{% block body %}
{% endblock %}


{% block footer %}
	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+33 06 51 55 87 57<br>
								<a href="mailto:#">info@anawin-mbomou.org</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous suivre</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">A propos de Anawin</h3>
						<div class="widget-body">
							<p>Nous sommes une organisation qui travaille depuis 2011, avec l'objectif de générer des espaces pour instruire les enfants, les adolescents et les adultes en situation de vulnérabilité</p>
							<p>Être une organisation qui facilite les outils pour le développement de projets de vie dans la communauté où ils opèrent Mission.</p>
                            <p>Favoriser le développement et la croissance de la personne, en lui accordant les outils nécessaires pour atteindre le but de sa vie</p>
                            </div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Accueil</a> | 
								<a href="about.html">Qui sommes-nous </a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="contact.html">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2020, @Anawin. Designed by <a href="mailto:ipalakot@gmail.com" >Georges Igor PALAKOT</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
{% endblock %}

 {% block javascripts %}
 	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
 {% endblock %}
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


</body>
</html>