{% extends 'base_adm.html.twig' %}

{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}

<div class = "jumbotron">
</br>
</br>
</br>
</br>
    <h3 style="text-align:center">Administrator / Home </h3>
</div>

</br>
</br>
</br>
</br>
<div class="container">

    <div class="col-md-4"> 
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Système
            </a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in
            </a>
            <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus
            </a>
        </div>
    </div>
    
    <div class="col-md-4">  
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Utilisateurs
            </a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in
            </a>
            <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus
            </a>
        </div>
    </div>

    <div class="col-md-4">  
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Contenus
            </a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in
            </a>
            <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus
            </a>
        </div>
    </div>

    <div class="row">

  <!-- Grid column -->
  <div class="column mb-4 px-2">

    <!--Card Primary-->
    <div class="card indigo text-center z-depth-2">
      <div class="card-body">
        <p class="white-text mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      </div>
    </div>
    <!--/.Card Primary-->

  </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


{% endblock %}